{% extends "base_login.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header d-flex align-items-center justify-content-center">
                    <h3 class="card-title">Cobaia</h3>
        <img src="{{ url_for('static', filename='images/cobaia.png') }}" alt="Admin Image" class="img-fluid" style="width: 15%; float: right; max-width: 300px;"/>
                    <h6 class="card-title">API</h6>
                </div>
                <div class="card-body">
                    <!-- Formulario de inicio de sesión -->
                    <form action="{{ url_for('security.login') }}" method="POST" name="login_user_form">
                        {{ login_user_form.hidden_tag() }}
                        <div class="form-group">
                            <label for="email">Email</label>
                            {{ login_user_form.email(class="form-control", placeholder="user email") }}
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            {{ login_user_form.password(class="form-control", placeholder="user password") }}
                        </div>
                        <div class="form-group form-check">
                            {{ login_user_form.remember(class="form-check-input") }}
                            <label class="form-check-label" for="remember">Remember me</label>
                        </div>
                        <button type="submit" style="float: right;" class="btn btn-primary">Login</button>
                    </form>
                </div>
                    <!-- Bloque para mostrar mensajes flash -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    <!-- Bloque para mostrar errores del formulario -->
                    {% if login_user_form.errors %}
                        <div class="alert alert-danger">
                            {% for field, errors in login_user_form.errors.items() %}
                                {% for error in errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}


            </div>

        </div>
    </div>
</div>
{% endblock %}
